<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Apple Store{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <nav role="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_home') }}">Apple Store</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsDetails" aria-controls="navbarsDetails" aria-expanded="false" aria-label="Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsDetails">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_home') }}">Accueil <span class="sr-only">(current)</span></a>
                        </li>

                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_categories_list') }}">Catégories</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_tags_list') }}">Tags</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_apples') }}">Pommes</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_users_list') }}">Utilisateurs</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus-circle"></i> Ajouter</a>
                                <div class="dropdown-menu" aria-labelledby="">
                                    <a class="dropdown-item" href="{{ path('app_apples_create') }}"><i class="fas fa-apple-alt"></i> Une pomme</a>
                                    <a class="dropdown-item" href="{{ path('app_categories_create') }}"><i class="fas fa-object-group"></i> Une catégorie</a>
                                    <a class="dropdown-item" href="{{ path('app_tags_create') }}"><i class="fas fa-tag"></i> Un tag</a>
                                    <a class="dropdown-item" href="{{ path('app_users_create') }}"><i class="fas fa-user"></i> Un utilisateur</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown-myaccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Mon compte</a>
                                <div class="dropdown-menu" aria-labelledby="">
                                    <a class="dropdown-item" href="{{ path('app_profile_show', {id:app.user.id}) }}"><i class="far fa-user"></i> Profil</a>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                                </div>
                            </li>

                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="container pt-4">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <strong>{{ type|capitalize  }}!</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://kit.fontawesome.com/98fd404d25.js" crossorigin="anonymous"></script>
    </body>
</html>
