{% extends 'layouts/base.html.twig' %}

{% block title apple.name %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">

            {{ include('layouts/_navigationback.html.twig') }}

            <article class="apple bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">
                    <img class="w-100" src="{{ (apple.image ? vich_uploader_asset(apple) : asset('images/placeholder.png')) |imagine_filter('squared_thumbnail_medium') }}" alt="{{ apple.name }}" />
                </div>
                <div class="p-3">
                    <h2 class="h5">{{ apple.name }}</h2>
                    <p class="text-muted"><small>Posté le <strong>{{ apple.createdAt|date('d/m/Y') }}</strong> par <strong class="text-info">{{ apple.user.firstName }}</strong></small></p>
                    <div>
                        {{ apple.description|raw  }}
                    </div>
                    <p>Origine : <span class="badge badge-info">{{ apple.origin }}</span></p>
                    {{ include('apples/_applemetadata.html.twig', {'apple' : apple}) }}
                </div>
            </article>
        </div>
    </div>

{% endblock %}
